<h1>Task List</h1>

<% if @tasks.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>User</th>
        <th>Task Details</th>
        <th>Task Status</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <th><%= link_to task.id, task %></th>
          <td><%= task.user.name %></td>
          <td><%= task.content %></td>
          <td><%= task.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= paginate @tasks %>
  </div>
<% end %>

<%= link_to 'Create a New Task', new_task_path, class: "btn btn-primary" %>
