<h1>id: <%= @task.id %> Task Details</h1>

<table class="table table-bordered">
  <tr>
    <th>id</th>
    <td><%= @task.id %></td>
  </tr>
  <tr>
    <th>User</th>
    <td><%= @task.user.name %></td>
  </tr>
  <tr>
    <th>Task Details</th>
    <td><%= @task.content %></td>
  </tr>
  <tr>
    <th>Task Status</th>
    <td><%= @task.status %></td>
  </tr>
</table>

<%= link_to 'Edit Task', edit_task_path(@task), class: 'btn btn-default' %>
<%= link_to 'Remove Task', @task, method: :delete, data: { confirm: 'Are you sure to remove task?' }, class: 'btn btn-danger' %>
